@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular&subset=cyrillic-ext");

.slider {
  min-width: 0;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
  padding: 0px 0px 0px 0px;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  font-size: 0;
  z-index: 2;
}

/* Стрелка влево */

.main-slider .slick-arrow.slick-prev {
  width: 14px;
  height: 24px;
  background: url("../img/slider/slider_left.png") 0 0 no-repeat;
}

/* Стрелка вправо */

.main-slider .slick-arrow.slick-next {
  width: 14px;
  height: 24px;
  background: url("../img/slider/slider_right.png") 0 0 no-repeat;
}

@-webkit-keyframes rotateArrow {
  0% {

  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateArrow {
  0% {

  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Стрелка не активная */

/* Точки (булиты) */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: -10%;
}

.slick-dots li {
  width: 16px;
  height: 15px;
  background-color: rgba(91, 91, 91, 0);
  border: 2px solid #5b5b5b;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin: 0px 3.5px;
}

/* Активная точка */

.slick-dots li.slick-active {
  background-color: #fcdb5a;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/* Элемент точки */

.slick-dots li button {
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

._container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 200;
  width: 100%;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.5s ease 0;
  -o-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
}

.header_fixed {
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.459);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  height: 77px;
  background-color: #ffba00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 36px 28px 10px;
}

.header__logo a {
  font-family: "Montserrat";
  color: #fff;
  font-size: 33px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  font-weight: 800;
  color: #fff;
}

.header__logo span {
  font-weight: 400;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.025em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  position: relative;
  font-size: 24.4px;
  letter-spacing: 0.05em;
  color: #fff;
  margin: 0px 40px 0px 40px;
}

.menu__link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  padding: 0px 15px 0px 0px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__link:hover {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__link:hover:before {
  background-color: white;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

@-webkit-keyframes Lower {
  from {
    top: 38px;
  }

  to {
    top: 0;
  }
}

@keyframes Lower {
  from {
    top: 38px;
  }

  to {
    top: 0;
  }
}

@-webkit-keyframes Higher {
  from {
    top: -38px;
  }

  to {
    top: 0;
  }
}

@keyframes Higher {
  from {
    top: -38px;
  }

  to {
    top: 0;
  }
}

@-webkit-keyframes paddingHigherSecond {
  from {
    padding: 0px 0px 0px 0px;
  }

  to {
    padding: 0px 0px 0px 0px;
  }
}

@keyframes paddingHigherSecond {
  from {
    padding: 0px 0px 0px 0px;
  }

  to {
    padding: 0px 0px 0px 0px;
  }
}

.mainblock {
  padding: 38px 0px 300px 0px;
  background: url("../img/bgs/bg_main.png") center/cover no-repeat;
}

.mainblock__back {
  opacity: 0.85;
  position: fixed;
  bottom: 62px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #000;
  z-index: 1000;
  border-radius: 50%;
  text-align: center;
}

.mainblock__back img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.mainblock__back .menu__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
}

.mainblock__back .menu__link:before {
  display: none;
}

.mainblock__header {
  -webkit-transition: all 0.5s ease 0;
  -o-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  margin: 0px 0px 180px 0px;
}

.mainblock__center {
  background-color: #ffba00;
}

.center-mainblock__content {
  padding: 39px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.center-mainblock ._active {
  opacity: 1;
  -webkit-transition: all 1s ease 0.3s;
  -o-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.center-mainblock__text {
  opacity: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px -54px 0px;
}

.center-mainblock__text span {
  font-weight: 400;
  letter-spacing: 0.1em;
}

.center-mainblock__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 0px -10px 0px;
}

.btn {
  display: block;
}

.btn__body {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.btn__body ._active {
  opacity: 1;
  -webkit-transition: all 1s ease 0.3s;
  -o-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.btn__body span {
  padding: 32px 27px 25px 76px;
  border: 4px solid #ffffff;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 37.5px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffba00;
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
}

.btn__body span:hover {
  -webkit-transition: all 0.45s ease 0s;
  -o-transition: all 0.45s ease 0s;
  transition: all 0.45s ease 0s;
  color: #ffba00;
  background-color: #000;
  text-shadow: 0px 0px 15px #ffb700;
}

.footer {
  padding: 71px 0px 30px 0px;
  background-color: #483500;
}

.footer__right {
  font-size: 18.8px;
  line-height: 29px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 45px 0px;
}

.footer__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 380px;
}

.about-footer__title {
  font-family: "Raleway";
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 50px 0px;
}

.about-footer__text {
  font-size: 18.8px;
  line-height: 29px;
  font-weight: 500;
  color: #ffffff;
}

.links-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links-footer__column {
  padding: 0px 60px;
}

.links-footer__title {
  font-family: "Raleway";
  font-size: 20.9px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 50px 0px;
}

.links-footer__link {
  font-family: "Raleway";
  font-size: 20.9px;
  font-weight: 700;
  color: #ffffff;
}

.links-footer li {
  margin: 0px 0px 10px 0px;
}

.links-footer li:last-child {
  margin: 0px 0px 10px 0px;
}

.new {
  z-index: 0;
  padding: 141px 0;
  position: relative;
  background-color: #242424;
}

.new__bg {
  position: absolute;
  top: 81px;
  right: 0;
  height: 100%;
  z-index: -1;
}

.content-new._active {
  opacity: 1;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.content-new {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.content-new__vertical {
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 0.08em;
  position: absolute;
  top: 130px;
  left: -100px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 4;
}

.content-new__rectangle {
  position: absolute;
  top: 65px;
  left: 0;
  width: 840px;
  height: 190px;
  background-color: #ffba00;
  z-index: 3;
}

.content-new__horizontal {
  color: #ffffff;
  padding: 0px 0px 0px 148px;
  max-width: 740px;
  position: relative;
  z-index: 3;
}

.content-new__title {
  font-size: 41.7px;
  font-weight: 900;
  letter-spacing: 0.2em;
  margin: 0px 0px 55px 0px;
}

.content-new__point {
  font-size: 33.4px;
  font-weight: 500;
  letter-spacing: normal;
  margin: 0px 0px 55px 0px;
}

.content-new__point:last-child {
  margin: 0px 0px 0px 0px;
}

.points {
  background-color: #ffffff;
  padding: 115px 0px 115px 0px;
}

.points__row._active {
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.points__row {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -30px;
}

.points__column {
  padding: 0 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  margin: 0px 0px 40px 0px;
}

.points__column:last-child {
  margin: 0px 0px 0px 0px;
}

.points__title {
  font-family: "Montserrat";
  font-size: 29.2px;
  line-height: 33px;
  font-weight: 900;
  color: #ffba00;
  margin: 0px 0px 32px 0px;
}

.points__text {
  font-size: 16.7px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.cook-menu {
  position: relative;
}

.cook-menu__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cook-menu__container {
  position: relative;
  z-index: 2;
  background-color: #0000006c;
  padding: 101px 0px 55px 0px;
}

.cook-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cook-menu__title {
  font-family: "Montserrat";
  font-size: 41.7px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffba00;
  margin: 0px 0px 74px 0px;
}

.cook-menu__subtitle {
  position: relative;
  font-family: "Montserrat";
  font-size: 47.6px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #ffba00;
  width: 100%;
  padding: 24px 0px 72px 0px;
  margin: 0px 0px 72px 0px;
}

.cook-menu__border {
  position: absolute;
  top: 0;
  left: 15%;
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
  z-index: -1;
}

.cook-menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cook-menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.cook-menu__items._active {
  opacity: 1;
  -webkit-transition: all 1s ease 0.3s;
  -o-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.cook-menu__items {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 750px;
  width: 100%;
  padding: 75px 0px 0px 39px;
}

.cook-menu__items:after {
  content: "";
  position: absolute;
  top: 59px;
  right: -25px;
  height: 67%;
  width: 65px;
  background-color: #ffbb0085;
  mix-blend-mode: overlay;
}

.cook-menu__orangebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 440px;
  z-index: -1;
  background-color: #ffba00;
}

.cook-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.cook-menu__reference {
  padding: 22px 0px 29px 0px;
  font-size: 25px;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
}

.cook-menu__reference:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 -20%;
  width: 125%;
  height: 100%;
  border: 3px solid #ffffff;
  z-index: -1;
}

.cook-menu__ref {
  margin: 0px 0px 15px 0px;
}

.cook-menu__ref:last-child {
  margin: 0;
}

.item-cook__info {
  font-size: 33.4px;
  font-weight: 900;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-cook__title {
  font-weight: 500;
  line-height: 1.2;
}

.item-cook__ingredients {
  line-height: 1.2;
}

.item-cook__price {
  font-size: 33.4px;
  font-weight: 700;
  color: #ffffff;
}

.about {
  background-color: #242424;
  padding: 115px 0px 115px 0px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title {
  font-size: 41.7px;
  font-weight: 100;
  letter-spacing: 0.05em;
  color: #ffba00;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.about__title span {
  font-family: "Montserrat";
  font-weight: 900;
}

.about__subtitle {
  font-family: "Raleway";
  font-size: 18.8px;
  line-height: 33px;
  color: #ffffff;
  max-width: 700px;
  text-align: center;
  margin: 0px 0px 35px 0px;
}

.about__themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
  font-family: "Raleway";
  font-size: 16.7px;
  line-height: 1.2;
  font-weight: 700;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about__item a {
  color: #ffffff;
}

.about__item:before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  padding: 0px 15px 0px 0px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.about__item:after {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  padding: 0px 15px 0px 0px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.about__item:hover {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-shadow: 3px 0px 20px #ffffff;
}

.about__item:hover:before {
  background-color: white;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.about__item:hover:after {
  background-color: white;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.masterclass {
  padding: 97px 0px 193px 0px;
  position: relative;
}

.masterclass__container {
  position: relative;
  z-index: 2;
}

.masterclass__body._active {
  opacity: 1;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.masterclass__body {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.masterclass__title {
  font-size: 41.7px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0px 0px 94px 0px;
}

.masterclass__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 536px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 95px 62px 64px 60px;
  background-color: #ffba00;
  margin: 0px 0px 46px 0px;
}

.masterclass__button {
  padding: 59px 0px 29px 36px;
  background-color: #ffba00;
  border: 2px solid #ffba00;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.masterclass__button:hover {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #ffba00;
  text-shadow: 0px 0px 15px #ffb700;
  background-color: #24242498;
}

.masterclass__btn {
  display: inline-block;
  font-size: 41.7px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 100%;
  max-width: 469px;
  height: 100%;
}

.masterclass__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.info-masterclass__text {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 35px 0px;
}

.info-masterclass__wish {
  font-size: 41.7px;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0px 0px 101px 0px;
}

.info-masterclass__price {
  font-size: 41.7px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: end;
}

.info-masterclass__time {
  text-align: end;
  font-size: 41.7px;
  line-height: 50px;
  font-weight: 500;
  color: #ffffff;
}

.gallery {
  position: relative;
  background-color: #242424;
}

.gallery__rectangle {
  position: absolute;
  top: 0;
  left: 15%;
  height: 100%;
  width: 250px;
  z-index: 2;
  background-color: #ffba00;
}

.gallery__body {
  padding: 140px 0px 69px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.gallery__title {
  font-family: "Montserrat";
  font-size: 41.7px;
  font-weight: 900;
  z-index: 5;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffba00;
  margin: 0px 0px 53px 0px;
  mix-blend-mode: difference;
}

.gallery__row._active {
  opacity: 1;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.gallery__row {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 112px 0px;
}

.gallery__column {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.gallery__column:hover {
  -webkit-transition: all 0.5s ease 0;
  -o-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery__column:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.gallery__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
}

.gallery__column:nth-child(3) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
}

.gallery__item {
  height: 100%;
  width: 100%;
  padding: 0px 0px 75% 0px;
  position: relative;
}

.gallery__logo {
  z-index: 5;
  font-family: "Montserrat";
  font-size: 41.7px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin: 0px 0px 62px 0px;
}

.gallery__content {
  width: 100%;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

.gallery__quote._active {
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.gallery__quote {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  max-width: 350px;
  position: relative;
}

.gallery__contact._active {
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.gallery__contact {
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.quote-gallery__text {
  font-size: 25px;
  line-height: 41px;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 0px 29px 0px;
}

.quote-gallery__author {
  font-family: "Raleway";
  font-size: 18.8px;
  font-weight: 700;
  color: #ffffff;
  text-align: end;
}

.contact-gallery__title {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  margin: 0px 0px 16px 0px;
}

.contact-gallery__socials {
  margin: 0px -8px 64px -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-gallery__item {
  padding: 0px 8px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.contact-gallery__item img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
}

.contact-gallery__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.contact-gallery__item:hover img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
}

.contact-gallery__link {
  font-size: 33.4px;
  font-weight: 900;
  z-index: 5;
  padding: 15px 0px 15px 0px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #24242498;
}

.contact-gallery__link a {
  color: #ffba00;
}

.contact-gallery__link:hover {
  text-shadow: 1px 0px 20px #ffba00;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 1183px) {
  .mainblock__header {
    margin: 0px 0px 140px 0px;
  }

  .center-mainblock__content {
    padding: 20px 0px 0px 0px;
  }

  .center-mainblock__text {
    font-size: 90px;
    margin: 0px 0px -46px 0px;
  }

  .btn__body span {
    font-size: 25px;
  }

  .points__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .points__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .cook-menu__container {
    padding: 80px 0px 55px 0px;
  }

  .cook-menu__title {
    font-size: 34px;
    margin: 0px 0px 50px 0px;
  }

  .cook-menu__subtitle {
    font-size: 39px;
    padding: 24px 0px 50px 0px;
    margin: 0px 0px 60px 0px;
  }

  .masterclass {
    padding: 65px 0px 110px 0px;
  }

  .masterclass__title {
    font-size: 35.7px;
    margin: 0px 0px 50px 0px;
  }

  .masterclass__btn {
    font-size: 35px;
  }

  .info-masterclass__text {
    font-size: 40px;
  }

  .info-masterclass__wish {
    font-size: 32px;
  }

  .info-masterclass__price {
    font-size: 32px;
  }

  .info-masterclass__time {
    font-size: 32px;
  }
}

@media (max-width: 1100px) {
  .menu__link {
    font-size: 23px;
  }

  .mainblock__back .menu__link {
    font-size: 35px;
  }
}

@media (max-width: 991.98px) {
  .menu__link {
    margin: 0px 22px 0px 22px;
  }

  .mainblock {
    padding: 0px 0px 150px 0px;
  }

  .mainblock__back .menu__link {
    margin: 0;
  }

  .mainblock__header {
    margin: 0px 0px 125px 0px;
  }

  .center-mainblock__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .center-mainblock__text {
    margin: 0px 0px 46px 0px;
    font-size: calc( 30px + 60 * ((100vw - 320px) / 861));
  }

  .center-mainblock__text span {
    letter-spacing: 0;
  }

  .btn__body span {
    padding: 15px 50px 15px 50px;
    font-size: calc( 18px + 7 * ((100vw - 320px) / 861));
  }

  .links-footer__row {
    margin: 0px -30px;
  }

  .links-footer__column {
    padding: 0px 30px;
  }

  .cook-menu__reference:before {
    margin: 0 -5%;
    width: 105%;
  }

  .about {
    padding: 90px 0px 90px 0px;
  }

  .gallery__column:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .gallery__column:nth-child(1) .gallery__item {
    padding: 0px 0px 50% 0px;
  }

  .gallery__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }

  .gallery__column:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
}

@media (max-width: 767.98px) {
  .header {
    background-color: rgba(0, 0, 0, 0.589);
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 55px);
            flex: 0 0 calc(100% - 55px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .mainblock__header {
    padding: 0px 0px 0px 0px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .about-footer {
    margin: 0px 0px 40px 0px;
  }

  .about-footer__title {
    margin: 0px 0px 30px 0px;
  }

  .links-footer__title {
    margin: 0px 0px 35px 0px;
  }

  .content-new__vertical {
    top: -125px;
    left: 0;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
  }

  .content-new__rectangle {
    visibility: hidden;
  }

  .content-new__horizontal {
    padding: 15px 15px 15px 15px;
    color: #fff;
    border-radius: 5px;
    background-color: #24242498;
  }

  .content-new__title {
    font-size: 35px;
  }

  .content-new__point {
    margin: 0px 0px 30px 0px;
    font-size: 27px;
  }

  .points {
    padding: 80px 0px 80px 0px;
  }

  .points__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .cook-menu__subtitle {
    font-size: 32px;
    padding: 25px 0px 25px 0px;
    margin: 0px 0px 30px 0px;
  }

  .cook-menu__border {
    left: 0;
    background-color: #24242498;
    border: none;
  }

  .cook-menu__items {
    padding: 25px 25px 0px 25px;
  }

  .cook-menu__items:after {
    visibility: hidden;
  }

  .cook-menu__orangebg {
    width: 100%;
    height: 79%;
    background-color: #24242498;
  }

  .cook-menu__reference {
    padding: 22px 0px 29px 22px;
    font-size: 18px;
  }

  .cook-menu__reference:before {
    margin: 0 0;
    width: 100%;
    background-color: #24242498;
  }

  .item-cook__info {
    font-size: 20px;
  }

  .item-cook__price {
    font-size: 20px;
  }

  .about {
    padding: 70px 0px 70px 0px;
  }

  .about__title {
    font-size: 35px;
  }

  .about__subtitle {
    font-size: 16.6px;
  }

  .masterclass {
    padding: 65px 0px 80px 0px;
  }

  .masterclass__info {
    padding: 30px 30px 30px 30px;
  }

  .info-masterclass__text {
    font-size: 35px;
  }

  .info-masterclass__wish {
    font-size: 26px;
    margin: 0px 0px 75px 0px;
  }

  .info-masterclass__price {
    font-size: 26px;
  }

  .info-masterclass__time {
    font-size: 26px;
  }

  .gallery__body {
    padding: 75px 0px 40px 0px;
  }

  .gallery__row {
    margin: 0px 0px 60px 0px;
  }

  .gallery__logo {
    margin: 0px 0px 40px 0px;
  }

  .gallery__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .gallery__quote {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .gallery__contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .quote-gallery {
    margin: 0px 0px 50px 0px;
  }

  .quote-gallery__text {
    text-align: center;
  }

  .contact-gallery__title {
    text-align: center;
  }

  .contact-gallery__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact-gallery__link {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.778);
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body._active {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    z-index: 100;
    overflow: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: auto;
  }

  .menu__list li {
    padding: 0 0 45px 0;
  }

  .menu__list li:nth-child(2),
  .menu__list li:nth-child(3) {
    padding: 0px 0px 45px 0px;
  }

  .menu__link {
    color: #ffba00 !important;
    font-size: 35px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 35%;
    right: 10px;
    width: 34px;
    height: 20px;
    cursor: pointer;
    z-index: 101;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffba00;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: #ffba00;
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px;
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }
}

@media (max-width: 555px) {
  .masterclass__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 540px) {
  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 479.98px) {
  .center-mainblock__text {
    max-width: 222px;
    text-align: center;
  }

  .btn__body span {
    padding: 25px 70px 25px 70px;
    font-size: 20px;
  }

  .links-footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .links-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0px 0px 25px 0px;
  }

  .links-footer__column:last-child {
    margin: 0px 0px 0px 0px;
  }

  .links-footer__title {
    margin: 0px 0px 25px 0px;
  }

  .new {
    padding: 141px 0px 100px 0px;
  }

  .content-new__vertical {
    font-size: 36px;
  }

  .points {
    padding: 60px 0px 60px 0px;
  }

  .about {
    padding: 60px 0px 50px 0px;
  }

  .about__title {
    font-size: 30px;
  }

  .about__subtitle {
    font-size: 15px;
  }

  .about__themes {
    font-size: 16px;
  }

  .masterclass__title {
    width: 100%;
    text-align: center;
    padding: 15px 0px 15px 0px;
    background-color: #ffbb00ce;
    margin: 0px 0px 35px 0px;
  }

  .masterclass__info {
    background-color: #ffbb00ce;
    margin: 0px 0px 35px 0px;
  }

  .masterclass__button {
    padding: 35px 0px 35px 0px;
    text-align: center;
  }

  .info-masterclass__text {
    font-size: 25px;
  }

  .info-masterclass__wish {
    font-size: 20px;
    margin: 0px 0px 40px 0px;
  }

  .gallery__body {
    padding: 70px 0px 30px 0px;
  }

  .gallery__row {
    margin: 0px 0px 50px 0px;
  }

  .gallery__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .gallery__column:nth-child(2) .gallery__item {
    padding: 30% 0px 40% 0px;
  }

  .gallery__column:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 321px) {
  .new {
    padding: 141px 0px 50px 0px;
  }
}

.webp .main-slider .slick-arrow.slick-prev{ background: url(../img/slider/slider_left.webp) 0 0 no-repeat; }

.webp .main-slider .slick-arrow.slick-next{ background: url(../img/slider/slider_right.webp) 0 0 no-repeat; }

.webp .mainblock{ background: url(../img/bgs/bg_main.webp) center/cover no-repeat; }